@import "./fonts/Inter/index";
@import "./fonts/JetBrainsMono/index";
@import "./date-countdown.scss";

html,
body {
  background-color: #F5F5F5;
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-width: 320px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

p {
  margin: 0;
}

button {
  text-transform: none;
  -webkit-appearance: button;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  user-select: none;
}

// input {
//   border: none;
//   outline: none;
//   display: block;
//   width: 100%;
//   font-family: inherit;
//   font-size: inherit;
//   padding: 0;
//   background: transparent;
//   line-height: inherit;
//   text-align: inherit;
// }

.span-mark{
  border-radius: 8px;
  margin-left: 8px;
  padding: 2px 8px;
}
.dropbtn {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px !important;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 26px;
  padding: 16px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin-left: 10px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 295px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 20px 20px;

  z-index: 1;

  a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #f1f1f1
    }
  }

  .dropdown-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;

    &:last-child {
      border: none;
      border-radius: 0px 0px 20px 20px;

    }

    svg {
      color: black;
      stroke: black;
      width: 24px;
      height: 24px;
      margin-right: 1rem;
    }

    span.active {
      font-weight: bold;
    }
  }
}

.dropdown:hover  {
  .dropdown-content {
    display: block;
  }
  .dropbtn {
    border-bottom: 3px solid white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.22) 100%),
  }
}
.wrap-header{
  display: block;
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 transparent;
  padding: 0 32px;
  z-index: 1040;

  .wrap-menu{
    display: flex;
    flex-direction: row;
    height: 100px;
    .top-menu-links{
      margin-left: 100px;
      a{
        row-gap: 8px;
        font-size: 20px;
        font-weight: 500;
        font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }
    }
    .desktop-icon{display: none;}
    .mobile-nav{display: none;}
    .mobile-icon{display: none;}
  }

  .top-menu{
    border-radius: 0px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
  .wallet-action {
    background: transparent;
    span{
      min-width: 24px;
      min-height: 24px;
      width: 24px;
      height: 24px;
      svg{
        color: #fff;
        width: 24px;
        height: 24px;
      }
    }


  }
  .connect-wallet{
    margin-left: auto;
    .connect-wallet-btn{
      margin: 0px;
      >span:first-child{
        display: none;
      }
      svg{
        display:none;
      }
    }
  }

}
div{
  .banner-section{
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(0deg, rgb(255, 255, 255) 7%, rgba(255, 255, 255, 0.16) 28%, rgba(255, 255, 255, 0.02) 39%), url(/nft/banner.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-section{
    margin-top: 100px;
    padding: 0 32px;
    .tab-link{
      border-radius: 0px;
      &.active{
        border-bottom-width: 3px;
        border-bottom-style: solid;
      }
    }
    .filter-header{
      height: 48px;
      padding-right: 32px;
      border-radius: 0px;
    }
    .filter-item{
      height: 48px;
      padding-right: 32px;
      border-radius: 0px;
    }
    .nft-uri{
      width: 40%;
      padding-right: 30px;
      img{
        width: 100%;
      }
    }
    .nft-detail{
      width: 60%;
    }
  }
  .container{
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;

    .collections{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 56px;
      margin-top: 32px;
      margin-bottom: 100px;
      .collection{
        >div{
          h2{
            margin-top: 8px;
            margin-bottom: 0px;
          }
          h5{
            margin-top: 0px;
            margin-bottom: 12px;
          }
        }
        .nft-img-div{
          img{
            width: 100%;
          }

        }
      }
    }
    .mobile-section {
      display: none;
    }

  }
  .fullWidth{
    &.main-section{
      padding: 0px;
      .container{
        max-width: 100%;
        .middle{
          max-width: 1600px;
          padding: 0px;
        }
      }
    }
  }
  .hide{
    display: none;
  }
}


.mauto{
  margin: 0 auto;
}
.btn-default{
  padding: 1rem 3rem;
}
.footer{
  padding: 40px 32px 0 32px;
  .footer-logo{width: 243px;}
  .footer-desc{width: 420px;}
  .bottom-section{
    padding-bottom: 2rem;
    justify-content: space-between;

  }
  .footer-section{
    display: flex;
    .copyright{
      text-align: center;
      p{
        width: 100%;
      }
    }
    .terms-policy{
      float: right;
      margin-top: -30px;
    }
  }
}


.jc-space-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
.underline{
  text-decoration: underline;
}
.point{
  list-style: disc;
  display: list-item;
}
.mobile-menu{
  position: absolute;
  display: none;
  .top-menu-links{
    display: none;
  }
}


@media screen and (max-width: 1664px) {
  .container{
    width: 100%;
    margin: 0 auto;

  }
  .wrap-header{
    .wrap-menu{
      .top-menu-links{
        /*margin-left: 50px;*/
        a {
          padding-left:12px;
          padding-right: 12px;

        }
      }
    }
  }
  div{
    .fullWidth{
      &.main-section{
        padding: 0px;
        .container{
          max-width: 100%;
          .middle{
            padding: 0 32px;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 1400px) {
  .container{
    width: 100%;
    margin: 0 auto;
    .search-item{
      .chakra-select__wrapper
      {
        select{
          width: 180px;
        }
      }
    }
    .nft-card{
      .nft-card-info{
        .token-balance{
          font-size: 15px;
        }
        .nft-price{
          font-size: 15px;
        }
      }
    }

  }
  .wrap-header{
    .wrap-menu{
      .top-menu-links{
        /*margin-left: 10px;*/
        a {
          padding-left: 8px;
          padding-right: 8px;
          font-size: 14px;
        }
      }
    }
  }

}

@media screen and (max-width: 1200px) {
  div{
    .main-section{
      &.fullWidth{
        padding: 0;
      }
      .collections{
        gap: 32px;
      }
      .nft-card-info{
        padding: 16px;
        .btn-buy{
          margin-top: 16px;
          padding: 12px 16px;
        }
      }
    }
    .container{
      width: 100%;
      margin: 0 auto;
      .middle{
        width: 100%;
      }
      .nft-card{
        .nft-card-info{
          .price-section{
            gap: 2px;
            .token-balance{
              font-size: 14px;
            }
            .nft-price{
              font-size: 13px;
            }
          }

        }
      }
    }
  }

  .logo-img{width: 180px;}
  .wrap-header{
    padding: 0 1rem;
    .wrap-menu{
      .top-menu-links{
        /*margin-left: 10px;*/
        a {
          padding-left: 8px;
          padding-right: 8px;
          font-size: 0.8rem;
          font-weight: normal;
        }
      }
      button{
        font-size: 0.7rem;
      }
    }
  }

  .footer-desc{width: 90%;}
}

@media screen and (max-width: 968px) {
  div{
    .main-section{
      .collections{
        grid-template-columns: 1fr 1fr;
        gap: 16px;
      }
    }
    .container{
      width: 100%;
      margin: 0 auto;
      .middle{
        width: 100%;
        padding: 0 1rem;
      }
    }
  }

  .wrap-header{
    .wrap-menu{
      .top-menu-links{
        /*margin-left: 10px;*/
        a {
          padding-left: 8px;
          padding-right: 8px;
          font-size: 0.8rem;
          font-weight: normal;
        }
      }

      button{
        font-size: 0.7rem;
      }
    }
  }

}

@media screen and (max-width: 967px) {
  body{
    font-size: 16px;
  }
  div{
    .banner-section{
      div{
        font-size: 35px;
        text-align: center;
      }
    }
    .container{
      width: 100%;
      margin: 0 auto;
      .middle{
        width: 100%;
        padding: 0 1rem;
      }
      .mint-section{
        flex-direction: column-reverse;
      }
      .filter-wrapper{
        display: none;
      }
      .desktop-section {
        display: none;
      }
      .mobile-section {
        display: flex;
        &.filter-section{
          flex-direction: column;
          .filter-header{
            width: 100%;
            border-radius: 8px;
            svg{
              line{
                stroke: #fff;
              }
              path{
                stroke: #fff;
              }
            }
          }
          .filter-wrapper{
            display: block;
            width: 100%;

            >header{
              display: none;
            }
            .filter-item{
              button{
                padding-top: 0px;
                padding-bottom: 0px;
              }

            }
          }
        }

        a{
          width: 32px;
          height: 32px;
        }
      }

      .search-item{
        flex-direction: column;
        .chakra-select__wrapper{
          width: 100%;
          select{
            width: 100%;
          }
        }
      }
      .collapse-open{
        width: 100%;
        padding: 10px 0;
      }
      .profile-tab{
        padding-left: 0px;
      }
    }
  }

  .wrap-header{
    &.open{
      /*position: absolute;*/
      >div{
        position: unset;
      }
    }
    .wrap-menu{
      align-items: center;
      justify-content: space-between;
      padding-right: 1rem;
      padding-left: 1rem;
      .top-menu-links{
        display: none;
      }
      .mobile-nav{display: flex;width:38px;height:38px;align-items: center;}
      .mobile-icon{display: flex;fill: #6af900;}
      .desktop-icon{display: none;}
      .connect-wallet{
        display: none;
        flex-grow: unset;
        >div{
          padding: 0px;
          border: 0px;
          margin-bottom: 0px;

          .mobile-icon{
            svg{
              width: 24px;
              height: 24px;
              color: #6af900;
            }
          }
        }
        .wallet-status{
          display: none;
          button{
            padding-right: 6px;
          }
        }
        .connect-wallet-btn{
          padding: 0px;
          width: 38px;
          height: 38px;
          border: 0px;
          >span:first-child{display:inline;}
          span{
            width: 38px;
            height: 38px;
            svg{
              width: 38px;
              height: 38px;
              color: #ffffff;
              display:block;
            }
          }
        }
        .wallet-action{

          &.open {
            opacity: 1;
          }
        }
      }
    }

  }
  .mobile-menu{
    &.open{
      display: flex;
      .top-menu-links{
        display: flex;
        /*margin-left: 10px;*/
        &.open{
          display:block;
          position: fixed;
          right: 0px;
          top: 100px;
          margin: 0px;
          z-index: 100;
          background: #000000;
        }
        a {
          padding-left: 8px;
          padding-right: 8px;
          font-size: 1rem;
          color: #ffffff;
          border-radius: 0px;
          font-weight: normal;
          border-bottom: 1px dashed #333;
          span{
            display: none;
            svg{
              color: #ffffff;
              stroke: #ffffff;
            }
          }

        }
      }
    }


  }

  div{
    .footer{
      margin-top: 48px;
      padding: 16px 0px 0px 0px;
      .container{
        padding-left: 16px;
        padding-right: 16px;
        >div{
          padding: 0px;
        }
      }
      .footer-logo{
        width: 172px;
      }
      .footer-desc{
        width: 100%;
        text-align: center;
      }
    }
  }

  .container{
    p{

      font-size: 0.8rem;
      &.page-title{
        font-size: 25px;
        margin: 0;
      }
    }
    a{
      font-size: 0.8rem;
    }

    .bottom-section{
      border: 0px;
      display: flex;
      flex-direction: column;
      border: 0;
      padding-bottom: 0px;
      .bottom-desc-section{
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 4;
        border-bottom: 1px solid rgb(25 29 32 / 20%);
      }
      .desktop-section{
        display: none;
      }


      .bottom-community-section{
        border-bottom: 1px solid rgba(25,29,32,.2);
      }
      .bottom-quick-section{
        grid-column-start: 1;
        grid-column-end: 4;
      }
      .bottom-company-section{
        border-bottom: 1px solid rgba(25,29,32,.2);
      }
      .collapse-header{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
      }
      .footer-links{
        &.close{
          display: none;
        }
      }
    }
  }
  .footer{
    .footer-section{
      flex-direction: column-reverse;
      align-items: center;
      padding-bottom: 0;
      .copyright{
        text-align: left;
        padding-top: 12px;
        border-top: 1px solid #ccc;
        p{
          font-size: 9px;
        }
      }
      .terms-policy{
        a{
          font-size: 9px;
        }
      }
      .desktop-section {
        display: none;
      }
    }
  }

}
@media screen and (max-width: 767px) {
  div{
    .banner-section{
      background-image: linear-gradient(0deg, rgb(255, 255, 255) 7%, rgba(255, 255, 255, 0.16) 28%, rgba(255, 255, 255, 0.02) 39%), url(/nft/mobile-banner.jpg);
      height: 231px;
      background-size: cover;
      div{
        line-height: 231px;
      }
    }
    .main-section{
      padding: 0 16px;
      .collections{
        grid-template-columns: 1fr;
        gap: 16px;
      }
      .nft-grid{
        &.column3{
          grid-template-columns: 1fr 1fr;
        }
        &.column4{
          grid-template-columns: 1fr 1fr;
        }
        &.column5{
          grid-template-columns: 1fr 1fr;
        }
        &.column6{
          grid-template-columns: 1fr 1fr;
        }
      }
      .nft-info{
        .nft-uri{
          width:50%;
        }
        .nft-detail{
          width:50%;
          .nft-buy-offer{
            >div{
              padding: 16px 20px;
              button{
                padding: 8px 12px;
                font-size: 12px;
                border-radius: 8px;
              }
            }

          }
          .nft-offer{
            .offer-title{
              padding: 16px 20px;
            }
            table{
              thead{
                tr{
                  th{
                    padding: 1rem;
                  }
                }
              }
              tbody{
                tr{
                  td{
                    padding: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


}
@media screen and (max-width: 480px) {
  .container{
    p{
      &.nft-title{
        text-align: center;
      }
    }
    .mobile-section{
      &.filter-section{
        .filter-item{
          padding: 0px;
        }
        .grid{
          padding: 0px;
        }
      }
    }
    .collections{
      .collection{
        >div{
          padding: 0px;
          margin-left: 24px;
          &:first-child{
            padding: 0px;
            margin-left: 0px;
          }
          &:last-child{
            padding: 0px 24px 24px 24px;
            margin-left: 0px;
          }
        }
      }
    }
    .bottom-section{
      >div{
        min-width: 80px;
        h3{
          font-size: 14px;
        }
      }
    }

  }
  div{

    .main-section{
      .nft-grid{
        &.column3{
          grid-template-columns: 1fr;
        }
        &.column4{
          grid-template-columns: 1fr;
        }
        &.column5{
          grid-template-columns: 1fr;
        }
        &.column6{
          grid-template-columns: 1fr;
        }
      }
      .nft-info{
        flex-direction: column;
        .nft-uri{
          width: 100%;
          padding-right: 0px;
        }
        .nft-detail{
          width: 100%;
          margin-top: 28px;
          .nft-title{
            text-align: center;
          }
          .nft-link{
            justify-content: center;
            display: flex;
          }
          .nft-meta{
            justify-content: center;
          }
          .nft-buy-offer{
            >div{
              button{
                font-size: 16px;
              }
            }

          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {

}
